.main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pageTitle{
    font-size: 40px;
    color: rgb(108, 6, 181);
  }